@model DashboardViewModel
<h1>Dashboard</h1>
<p>Benvenuto! Questa sezione si trova nell'area <code>Admin</code> dell'applicazione web.</p>
<p>Questa area ha dei propri controller, view e model. Anche <code>_ViewImports.cshtml</code>, <code>_ViewStart.cshtml</code> e <code>_Layout.cshtml</code> sono diversi.</p>

<h2>Situazione</h2>
<p>Ecco qualche dato fornito con il <code>DashboardViewModel</code>:</p>
<ul>
    <li>Questo mese abbiamo venduto: @Model.Amount @Model.Currency</li>
    <li>L'ora del server è @Model.Timestamp</li>
</ul>

<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">Torna al sito</a>