<h1>Aree</h1>
<p>Un'area è una speciale sezione dell'applicazione web, isolata in un proprio "compartimento logico". Si usa per </p>

<h2>Esempio</h2>
<p>In quest'applicazione è stata creata l'area <code>Admin</code> che possiede un proprio <code>HomeController</code> e un proprio layout.</p>
<a asp-area="Admin" asp-action="" asp-controller="" class="btn btn-primary">Vai all'area admin</a>

<h2>Come realizzarlo</h2>
<ul>
    <li>Si crea una directory /Areas/<em>nomearea</em>;</li>
    <li>Si creano le sottodirectory <code>Models</code>, <code>Views</code> e <code>Controllers</code> per contenere i model, view e controller specifici per quell'area;</li>
    <li>I controller, in particolare, vanno decorati con l'attributo <code>[Area("nomearea")]</code>;</li>
    <li>Si aggiunge una route per abilitare le aree nel metodo <code>ConfigureServices</code> della classe <code>Startup</code> del progetto:
        <pre>
app.UseMvc(routes =>
{
    routes.MapRoute(
        name: "area",
        template: "{area:exists}/{controller=Home}/{action=Index}/{id?}");
        
    routes.MapRoute(
        name: "default",
        template: "{controller=Home}/{action=Index}/{id?}");
});
        </pre>
    </li>
</ul>