<h1>Miglioramenti a HttpClient</h1>
<p><code>HttpClient</code> è la classe che usiamo quando vogliamo inviare richieste HTTP a web api di terze parti. A volte, le richieste possono fallire per disservizi transitori sulla rete o se la web api non è proprio affidabile. In queste situazioni possiamo attuare una strategia di retry per inviare inviare la richiesta altre volte, nella speranza che la web api di terze parti risponda correttamente.</p>
<p>Con ASP.NET Core 2.1, è molto facile sfruttare la libreria Polly per attuare logiche complesse in fase di invio della richiesta, così come nostre logiche personalizzate di logging o di altro tipo. All'interno della classe <code>Startup</code> è stato usato il metodo <code>AddHttpClient</code> per configurare queste logiche.</p>
<p>Vedere anche il file MessageHandlers/LogMessageHandler.cs per capire come attuare logiche personalizzate.</p>

<h2>Esempio</h2>
<p>Cliccando i bottoni, verrà inviata una richiesta ajax a questa applicazione, che a sua volta invocherà una web api di terze parti usando HttpClient.</p>
<p>Nel primo caso verrà inviata una richiesta senza alcuna retry logic. Continuando a cliccare il bottone vedremo che alcune volte la richiesta va a buon fine, mentre in altre dà un errore.</p>
<p>Il secondo bottone impiega una retry logic e infatti vedremo che restituisce sempre risultati corretti perché invia ulteriori richieste prima di arrendersi.</p>
<div style="margin-bottom:10px;"><button type="button" class="btn btn-primary" style="min-width:320px;" onclick="sendWithoutRetryLogic(this)">Invoca il web service remoto senza retry logic</button> <span id="result1" style="margin-left: 10px"></span></div>
<div><button type="button" class="btn btn-primary" onclick="sendWithRetryLogic(this)" style="min-width:320px;">Invoca il web service remoto con retry logic</button> <span id="result2" style="margin-left:10px;"></span></div>
<p></p>
<p>La retry logic ci aiuta solo in caso di errori transitori. Invece, se il server remoto è down, anche tutti i successivi tentativi falliranno e qui possiamo scegliere se avvisare l'utente oppure fornirgli un risultato di fallback, usando Polly.</p>

@section Scripts {
<script>
function sendWithoutRetryLogic(button) {
  sendRequest(button, '@Url.Action("HttpClientWithoutRetryLogic", "Home")', 'result1');
}
function sendWithRetryLogic(button) {
  sendRequest(button, '@Url.Action("HttpClientWithRetryLogic", "Home")', 'result2');
}
function sendRequest(button, url, resultElementId) {
  button.disabled = true;
  var resultElement = document.getElementById(resultElementId);
  fetch(url).then(function(response) {
    button.disabled = false;
    if (response.ok) {
        response.text().then(function(data) {
          resultElement.innerText = response.status + " " + response.statusText + ", la web api di terze parti ha restituito: " + data;
          resultElement.style.color = "green";
        });
    } else {
        resultElement.innerText = response.status + " " + response.statusText;
        resultElement.style.color = "red";
    }
  });
}
</script>
}

<h2>Come realizzarlo</h2>
<p>Nel metodo <code>ConfigureServices</code> della classe <code>Startup</code> mettiamo:</p>
<pre>
services.AddHttpClient("ClientForThirdPartyWebApi", client => {
  //Qui eventuale inizializzazione del client
  //client.BaseAddress = new Uri("https://localhost:5001/");
  //client.DefaultRequestHeaders.Add("MyHeader", "Value");
})
//Message handler personalizzato
.AddHttpMessageHandler&lt;LogMessageHandler&gt;()
//Message handler di Polly
.AddTransientHttpErrorPolicy(builder => builder.WaitAndRetryAsync(new TimeSpan[]
{
    TimeSpan.FromMilliseconds(50),
    TimeSpan.FromMilliseconds(500),
    TimeSpan.FromMilliseconds(1000),
}));

//Registriamo il nostro message handler con ciclo di vita transient
services.AddTransient&lt;LogMessageHandler&gt;();
</pre>
<p>A questo punto otteniamo da un'action l'istanza dell'<code>HttpClient</code> così configurato. Per fare questo, usiamo il nuovo servizio <code>IHttpClientFactory</code>.</p>
<pre>
public async Task&lt;IActionResult&gt; HttpClientWithRetryLogic([FromServices] IHttpClientFactory clientFactory)
{
  using (var client = clientFactory.CreateClient("ClientForThirdPartyWebApi")) {
    //Inviamo la richiesta
  }
}
</pre>